#gymplan {
  border: 1px solid black;
  width: auto;
  max-width: 500px;
  overflow: auto;
  justify-content: center;
  display: inline-block;
}

#exercises {
  border: 1px solid black;
  width: 25%;
  display: inline-block;
  margin: 10px 10px;
}

ul {
  list-style-type: none;
}
