#gymplan {
  border: 1px solid black;
  width: 50%;
  justify-content: center;
  display: inline-block;
}

#exercises {
  border: 1px solid black;
  width: 50%;
  justify-content: center;
  display: inline-block;
}
